<img type="image/jpg" src="cart.jpg" >
<div class="container">
    <div class="row">
        <div class="col" >
            <div class="jumbotron text-center" style="color: white; background-color: rgb(20, 107, 179); stroke-width: 4px; border-radius: 45%;" >
                <h1 class="display-3" ><b>The Kitchen Story</b></h1>
                <p>Get Your Kitchen Related Stuff Here At The Kitchen Story</p>
            </div>
        </div>
    </div>
    <br>
    <div class="col-8 mx-auto">
        <div class="card bg-success" style="border-radius: 50%;">
            <div class="card-header">
                <h5 class="text-center">Search essentials, grocery and more...</h5>
            </div>
            <div class="card-body">

                <div class="form-group col-8 mx-auto my-auto">
                    <input type="text" class="form-control" [(ngModel)]="product" name="product"
                        placeholder="Search for products..." style="background-color: white;" >
                </div>

            </div>
            <div class="card-footer text-center"><button (click)="search(product)"
                    class="btn btn-success btn-lg" style="background-color: burlywood; color: black;" >Search</button></div>
        </div>
    </div>

</div>